R/*.csv
python/*.csv
*.csv
.DS_Store
data/*
!data/.gitkeep
python/opencv

R/.RData
R/.Rhistory
R/.Rproj.user/
R/.Rproj.user
R/.Rhistory
R/.RData
R/.Rprofile
R/.Rapp.history

*.zip
*.knit.md
*.utf8.md
.Rproj.user
